In [26]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
df = pd.read_csv("train.csv")

In [13]:
df.head()

,book_name,author,rating,votes,num_reviews,description,no_of_pages,isbn13,genre,reviews,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,The 100 Most Notable Cornellians,Glenn C. Altschuler,4,1,0,"""Cornell is unique among American research uni...",272,9780801439582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mientras Nieva Sobre Los Cedros,David Guterson,3.82,151415,4241,"You know that guy who's at every party, the on...",400,9788483107232,Fiction,"You know that guy who's at every party, the on...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Lord of the Rings,J.R.R. Tolkien,4.49,479889,10298,"The Fellowship of the Ring, part one of J.R.R....",1184,9780618517657,Fantasy,not a review and there probably won't be one a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Beyond Silence and Denial,Lucy Bregman,3.8,5,0,Lucy Bregman guides the reader through the wea...,208,9780664258023,Religion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,African Rock Art: Paintings and Engravings on ...,David Coulson,5,3,0,"Covering the entire continent, this lavishly i...",256,9780810943636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.shape

(2183, 18)

In [22]:
missing_vals = pd.DataFrame(df.isnull().sum()).reset_index().rename(index=str, columns={"index": "columns", 0: "missing values"})

In [31]:
missing_vals.astype({"missing values": int})

        columns  missing values
0     book_name               0
1        author               0
2        rating               0
3         votes               0
4   num_reviews               0
5   description               0
6   no_of_pages              85
7        isbn13              33
8         genre             370
9       reviews             377
10  Unnamed: 10            2145
11  Unnamed: 11            2178
12  Unnamed: 12            2180
13  Unnamed: 13            2181
14  Unnamed: 14            2182
15  Unnamed: 15            2182
16  Unnamed: 16            2182
17  Unnamed: 17            2182

In [38]:
def colmn():

218.3